@tailwind base;
@tailwind components;
@tailwind utilities;


.first_slide_img{
    width: "150px";
    height: "350px";
}

@media (min-width: 960px) {
    .first_slide_img{
        width: "450px";
        height: "650px";
    }
}

/* Keyframe animations */
@keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-165px);
    }
  }
  
  @keyframes scroll2 {
    0% {
      transform: translateY(165px);
    }
    100% {
      transform: translateY(0);
    }
  }